/* JavaFX CSS only — ignore web CSS warnings */

.button {
    -fx-background-color: rgba(255, 255, 0, 0.501);
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 20;
    -fx-border-color: rgba(165, 42, 42, 0.41);
    -fx-border-radius: 10;
    -fx-background-insets: 2;
}

.button:hover {
    -fx-background-color: white;
}

.button:pressed {
    -fx-background-color: white;
    -fx-translate-y: 2px; 
}

.label {
    -fx-font-size: 14;
}

.label-total {
    -fx-font-size: 16;
}

